/* =============================================================================
    SUMMARY 

    Custom properties

    General styling

    

============================================================================== */

/* =========================================================================================
    General styling
========================================================================================= */
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    height: 100vh;
    padding: 2rem;
}

/* =========================================================================================
    Custom properties
========================================================================================= */
:root {
    
}
/* =========================================================================================
    Player_turn
========================================================================================= */
.player_turn {
    border: 1px solid magenta;
    padding: 1rem;
}

/* =========================================================================================
    Board_game
========================================================================================= */
#board_game {
    outline: 1px solid black;
    /* padding: 0.5rem; */
    width: 700px;
    height: 600px;
    position: absolute;
    top: 15vh;
    left: 50%;
    transform: translate(-50%);
    /* background: rgb(1, 95, 245); */
    background: linear-gradient(155deg, rgb(47, 124, 248) 0%, rgb(2, 85, 218) 100%);
}

/* =========================================================================================
    Table
========================================================================================= */
table {
    outline: 1px solid red;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    border-spacing: 0.5rem;
}

/* =========================================================================================
    Slots
========================================================================================= */
.slot {
    /* border: 3px solid rgb(0, 65, 170); */
    border-radius: 50%;
    background: white;         
    box-shadow: 1px 1px 2px 1px rgb(0, 50, 140), 
                -1px -1px 2px 1px rgb(110, 160, 240),
                inset 1px 1px 2px 1px rgb(0, 50, 140), 
                inset -1px -1px 2px 1px rgb(110, 160, 240);
}

td {
    
}


